@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Roboto';
}
 .navbar-container{
    width: 100%;
    height: 80px;
    background: rgba(0, 0, 0, 0.84);
    position: relative;
    padding: 0 2em;
 }
 .logo{
    width: 160px;
    height: 160px;
    margin-top: -30px;

 }
nav{
    position: relative;
}
.navbar-itens{
    list-style: none;
    position: absolute;
    display: inline-block;
    height: 80px;
    line-height: 80px;
    margin: 0;
    right: 0;
}
.navbar-itens li{
    display: inline-block;
    text-transform: uppercase;
    margin-left: 25px;

}
.navbar-itens li a{
    color: aliceblue;
    text-decoration: none;
    transition: .5s;

}
.navbar-itens li a:hover{
    color: rgb(100, 86, 86);
}
.default-btn{
    padding: 15px 20px;
    background-color:#FF922E ;
    border-radius: 5px;
    color: aliceblue;

}
.default-btn:hover{
    background-color: #c26106;
    color: aliceblue;
}
.main-banner{
    background-image: url(/img/fox-sky-4k-if.jpg);
    background-position: center;
    background-size: cover;
    padding: 10em 0;
    position: relative;
    height: 800px;
    width: 1440;
}
.main-banner h1, .main-banner p{
    color: #FFF;
    text-align: center;
    font-weight: 900;
}
.main-banner h1{
    font-size: 54px;

}
.main-banner p{
    font-size: 20px;
}